<EditForm Model="@customer" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Customer Name :</label>
        <div>
            <InputText @bind-Value="customer.Name" class="form-control" />
            <ValidationMessage For="@(() => customer.Name)" />
        </div>
    </div>

    <div class="form-group">
        <label>Driving License :</label>
        <div>
            <InputText @bind-Value="customer.DrivingLicense" class="form-control" />
            <ValidationMessage For="@(() => customer.DrivingLicense)" />
        </div>
    </div>

    <div class="form-group">
        <label>CVV :</label>
        <div>
            <InputText @bind-Value="customer.CVV" class="form-control" />
            <ValidationMessage For="@(() => customer.CVV)" />
        </div>
    </div>

    <div class="form-group">
        <label>Card Number :</label>
        <div>
            <InputText @bind-Value="customer.CardNumber" class="form-control" />
            <ValidationMessage For="@(() => customer.CardNumber)" />
        </div>
    </div>

    <div class="form-group">
        <label>Email Address :</label>
        <div>
            <InputText @bind-Value="customer.EmailAddress" class="form-control" />
            <ValidationMessage For="@(() => customer.EmailAddress)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
</EditForm>

@code {
    [Parameter] public Customer? customer { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
